<mat-card class="project-card"
    [ngStyle]="{ transform: transformStyle }"
    (mousemove)="onMouseMove($event)"
    (mouseleave)="resetTransform()"
>
    <mat-card-header>
        <mat-card-title>{{ project.name }}</mat-card-title>
        @if (project.contributionStatus === 'Contributed') {
            <span class="contributed-badge">Contributed</span>
        }
    </mat-card-header>

    <mat-card-content>
        <p class="description">
            {{ project.description || 'No description available'}}
        </p>
    </mat-card-content>

    <mat-card-actions>
        <a [href]="project.url" target="_blank" rel="noopener noreferrer" class="repo-link">
            <mat-icon>open_in_new</mat-icon>
        </a>
    </mat-card-actions>
</mat-card>