<div class="project-card card-animate" (mousemove)="onMouseMove($event)" (mouseleave)="resetTransform()" [style.transform]="transformStyle">
  <div class="card-top">
    <div class="card-header">
      <h5>{{ project.name }}</h5>
      <a [href]="project.url" target="_blank">
        <img src="assets/images/external-link.svg" alt="link" />
      </a>
    </div>
    <p>{{ project.description  || 'No Description Available'}}</p>
  </div>

  <div class="card-bottom">
    <div class="stats">
      <img src="assets/images/github-star.svg" alt="stars" />
      <span>{{project.stars}}</span>
      <img src="assets/images/git-fork.svg" alt="forks" />
      <span>{{project.forks}}</span>
    </div>

    @if(project.contributionStatus === 'Contributed')
    {
      <span class="badge contributed">Contributed</span>
    }
    @else 
    {
      <span class="badge owned">Owned</span>
    }
  </div>
  
</div>
