@if(education)
{
<div class="education-card">
    <img [src]="education.logo" alt="{{ education?.name}} logo" />
    <div class="education-details">
        <span class="name">{{ education?.education }}</span>
        <p class="institute">{{education?.name}}<span class="duration" style="left: 500px;">{{ education?.duration }}</span></p>
        <p class="div-class" >{{education?.class}}  <span class="status">{{ education?.status }}</span> </p>
        <strong class="grade">{{education?.grade}}</strong>
    </div>
</div>
}