/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import './app/shared/styles/animations.css';

html, body { height: 100%; }
body { margin: 0; font-family: "Inter", sans-serif; }



@font-face {
font-family: 'Inter';
    src: url('/assets/fonts/Inter.ttc'), 
    url('/assets/fonts/InterVairable.ttf'),
    url('/assets/fonts/InterVairable-Italic.ttf');
}

